body,
html {
  font: 500 16px/100% 'YS Text', sans-serif;
  color: #21201F;
  
  background-color: #EDF6FF;
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}
body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}
