<style>
  /*=include ./*.css */
</style>

<section class="game">
  <div class="container">
    <div class="game__wrapper">
      <img class="game__background" src="<%= background %>" alt="Background" />

      <ul class="game__list">
        <li class="game__item game__item--wine">
          <img class="game__item-background" src="<%= wine %>" alt="Wine" />
        </li>
        <li class="game__item game__item--milk">
          <img class="game__item-background" src="<%= milk %>" alt="Milk" />
        </li>
        <li class="game__item game__item--jam">
          <img class="game__item-background" src="<%= jam %>" alt="Jam" />
        </li>
        <li class="game__item game__item--cheese">
          <img class="game__item-background" src="<%= cheese %>" alt="Cheese" />
        </li>
        <li class="game__item game__item--meat">
          <img class="game__item-background" src="<%= meat %>" alt="Meat" />
        </li>
        <li class="game__item game__item--paultry">
          <img
            class="game__item-background"
            src="<%= paultry %>"
            alt="Paultry"
          />
        </li>
        <li class="game__item game__item--chips">
          <img class="game__item-background" src="<%= chips %>" alt="Chips" />
        </li>
        <li class="game__item game__item--pineapple">
          <img
            class="game__item-background"
            src="<%= pineapple %>"
            alt="Pineapple"
          />
        </li>
        <li class="game__item game__item--bananas">
          <img
            class="game__item-background"
            src="<%= bananas %>"
            alt="Bananas"
          />
        </li>
        <li class="game__item game__item--apple">
          <img class="game__item-background" src="<%= apple %>" alt="Apple" />
        </li>
        <li class="game__item game__item--lettuce">
          <img
            class="game__item-background"
            src="<%= lettuce %>"
            alt="Lettuce"
          />
        </li>
      </ul>

      <div class="game__cart">
        <img class="game__cart-image" src="<%= cart %>" alt="cart" />
        <ul class="game__cart-list"></ul>
        <a
          href="https://lavka.yandex.ru/"
          class="game__cart-link"
          target="_blank"
          >Оплатить корзину</a
        >
      </div>
      
    </div>
  </div>
</section>
